@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}
